<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Genres by year</title>
    </head>
    <body>
        <h1> The best dashboard lo learn about movies</h1>
        <p> Welcome, using specif urls you will be able to get data visualizations about movies</p>
        <br/>
        <h2> How does it works !</h2>
        <p>Feel free to use belows with your selectected parameters</p>
        <br/>
        <p><b>Check films by genre in a specific year range :</b> https://ced-viz-app.azurewebsites.net/genres-by-year/&lt;beging_year&gt;/&lt;end_year&gt; </p>
    </body>
</html>